body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

background: #09E661;
background: -moz-linear-gradient(left, #09E661 0%, #1846DE 100%);
background: -webkit-linear-gradient(left, #09E661 0%, #1846DE 100%);
background: linear-gradient(to right, #09E661 0%, #1846DE 100%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}